@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #CDC0C9;
  font-family: 'Montserrat', sans-serif;
  color: #3D4D7C;
  margin: 0;
  padding: 10px 20px;
}

button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

/* === Identification === */


/* ======== Menu ======== */

/* 
TO DO : 
- Centrer correctement
- rajouter la texture en background
- mettre le titre joli 
*/

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  height: 80vh;
}


.linkBtnMenu {
  width: 40%;
  text-align: center;
  font-weight: normal;
}

.btnMenu:hover {
  background: rgba(255, 255, 255, 1);
  transform: scale(1.1);
  cursor: pointer;
}

.btnMenu {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 11px;
  display: block;
  border: 1px solid #3D4D7C;
  width: 100%;
  padding: 30px;
  font-weight: bold;
  color: #3D4D7C;
  transition: 0.5s;
}

/* ==== Launch Game ===== */

.listElements {
    list-style: none;
}

ul.questions {
  margin: 40px 0px;
}

li {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.listElements p, .questionsContainer p {
  display: inline-block;
  padding: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 13px;
  width: 300px;
  margin:0 20px 0 0;
  text-align: left;
  transition: 0.5s;
}

.listElements p:hover, .questionsContainer p:hover {
  background: #fff;
}

.questionsList.creationPage p {
  width: 40%;
  max-width: 600px;
  min-width: 200px;
}

.launchPage table {
  border-collapse:collapse;
  /* width: 25%; */
}
.launchPage table, .launchPage td{
  border: 1px solid #3D4D7C;
}

.launchPage th {
    background-color: #3D4D7C;
    color: #fff;
}

th,td {
  padding: 4px 16px;
  font-size: 1rem;
}
table td:nth-child(2), table th:nth-child(2){
  text-align: center;
}
/* ====== Creation ====== */

/* ------ Buttons ------- */
.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 5px;
  padding: 0;

  border: none;

  line-height: 1;
  position: relative;
  padding: 1em;
  color: #fff;
  background: transparent;
  transition: .3s;
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  transform: scale(1.5);
}

.svg-icon {
  transform: scale(1.1);
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
}

.btn.update {
  background: #4495B8;
}

.btn.update:hover,
.btn.update:focus {
  background: #186180;
}

.btn.delete {
  background: #CA4B4B;
}

.btn.delete:hover,
.btn.delete:focus {
  background: #aa1b1b;
}


.btn.add {
  background: #9BD088;
  margin-bottom: 16px;
}

.btn.add:hover,
.btn.add:focus {
  background: #6cad56;
}


.goBack {
  cursor: pointer;
  width: fit-content;
}
/*btn goback page creation*/
.creationGoBackContainer .goBack {
  float: left;
}
.btn.back {
  background: #fff;
  color: #3D4D7C;
}

.btn.back:hover,
.btn.back:focus {
  background: #9ca3b9;
  color: #fff;
}


/* ---- See question ---- */

.window {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 10% auto;
}

.window h2 {
  background: #3D4D7C;
  color: #fff;

  height: 50px;
  padding: 15px 0 0;
  border-radius: 13px;
}

.window .choices {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  border: 1px solid #fff;
  padding: 5%;
  margin: auto;
}

.labelChoice,
.labelQuestion {
  background: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 11px;
  border: 0;
}

.labelQuestion {
  width: 200px;
  padding: 10px;
}

/* ---- Add question ---- */

form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.2);
}

form>* {
  display: block;
  width: 70%;
  padding: 0;
  margin: 10px auto 0;
}

form .choices2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 5%;
  height: 300px;
}

form>* {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: 70%;
}

fieldset .labelChoice {
  height: 25px;
  font-family: montserrat;
}

.choices2 fieldset {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 45%;
  margin: auto;
}

fieldset>* {
  margin-bottom: 20px;
}

.importImg {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.importImg img {
  width: 100%;
  height: auto;
}

.importImg:hover {
  cursor: pointer;
}

.send {
  width: 50px;
  height: 50px;
  background: #9BD088;
  position: relative;
  color: #fff;
  margin: 20px 15% 20px auto;
  transition: 0.5s;
}

.send:hover {
  background: #6cad56;
  cursor: pointer;
}

/* ==== Launch Game ==== */

.start {
  background: #6cad56;
}

.stop {
  background: #aa1b1b;
}

.cantSelect {
  background: #929292;
}

.launchPage ul .btn {
  margin-left: 24px;
}

/* ==== Timer ==== */
.timerWrapper {
  width: 100%;
  height: 16px;
  background-color: #d2d2d2;
  border-radius: 50px;
  position: relative;
  display: none;
}

#timeProgress {
  width: 0;
  height: 100%;
  background-color: #0CB4CE;
  border-radius: 50px;
  /*transition: 0.2s ease;*/
}


/*=========== bouton form temps ========== */
.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.tooltipTime {
  visibility: hidden;
  background-color: rgba(61, 77, 124, 0.92);
  color: #fff;
  font-size: 0.75rem;
  text-align: center;
  padding: 4px;
  border-radius: 6px;

  position: absolute;
  margin-bottom: 4px;
  bottom: 100%;
  left: 0;
  width: 120px;
  z-index: 1;
  transform: translateX(-5px);
}

.inputTime {
  width: 100%;
  transform: translate(-5px);
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.inputTime:hover+.tooltipTime {
  visibility: visible;
}


/*======= Page CREATION =======*/
@media (max-width: 576px) {
    .questionsList.creationPage {
        padding: 0;
    }
}


/* ============= ============== */

.allQuestionsToCheck {
  display: flex;
  flex-wrap: wrap;
}

input[type="checkbox"].checkQuestion {
  display: none;
}

input[type="checkbox"].checkQuestion + label {
  transition: 0.3s;
  padding: 10px;
  margin: 10px;
  background-color:#fff;
  border-radius: 11px;
  border: 1px solid #fff;
}
.containsCheckQuestion, .containsCheckQuestion > * {
  display: block;
}



input[type="checkbox"].checkQuestion:hover + label {
  cursor: pointer;
  border-color: #9BD088;
}
input[type="checkbox"].checkQuestion:checked + label {
  background-color:#9BD088;
  color: #fff;
  border-color: #9BD088;
}

.questionsContainer {
  /* display: flex; */
}
.oneQuestion {
height: auto;
}



.displayInfos {
  opacity:1;
  transition: 0.5s;
  display: none;
}
