@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    --purple: #3d4d7c;
}

body {
    background-color: rgba(206, 217, 252, 0.92);
    background-position: inherit;
    background-size: 140%;
    font-family: 'Montserrat', sans-serif;
    color: #3D4D7C;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

button {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: var(--purple);
}

h1 {
    border-block: 1px solid;
    padding: 20px;
    width: max-content;
    font-size: 24px;
}

ul {
    list-style: none;
}


/* =========== pour les boutons violets ============= */


/* === (si seulement login & logout : à grouper ?) == */

.btnLittle {
    padding: 10px;
    color: white;
    background-color: #3d4d7c;
    border: 1px solid #3d4d7c;
    transition: 0.3s ease-in-out;
}

.btnLittle:hover {
    color: #3d4d7c;
    background-color: white;
    transform: scale(1.1);
}

.btnText {
    display: block;
    border-radius: 11px;
    border: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.btnText:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* ------ boutons ronds ------- */

.btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    padding: 1em;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.btn:active {
    transform: scale(1.5);
}

.svg-icon {
    transform: scale(1.1);
    z-index: 0;
    fill: currentColor;
    overflow: hidden;
}


/* ---- See question ---- */

.window {
    width: 60vw;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.window h2 {
    background: #3D4D7C;
    color: #fff;
    padding: 15px;
    border-radius: 13px;
}

.choices2 {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin: 20px;
}

.labelChoice,
.labelQuestion {
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 11px;
    border: 0;
}

.labelQuestion {
    width: 200px;
    padding: 10px;
}


/* ---- Add question ---- */

form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}

form>* {
    display: block;
    width: 70%;
    margin: 10px auto 0;
}

form>* {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

fieldset .labelChoice {
    height: 25px;
    font-family: montserrat;
    width: -webkit-fill-available;
}

.choices2 fieldset {
    height: 100%;
    flex: 1;
    display: flex;
    flex-flow: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

fieldset>* {
    margin-bottom: 20px;
}

.importImg,
.viewImg {
    display: flex;
    flex-flow: column;
    justify-content: center;
    overflow: hidden;
    object-fit: contain;
    text-align: center;
    max-height: 120px;
}

.importImg img,
.viewImg img {
    width: 100%;
}

.importImg:hover {
    cursor: pointer;
}

.send {
    width: 50px;
    height: 50px;
    background: #9BD088;
    position: relative;
    color: #fff;
    margin: 20px 15% 20px auto;
    transition: 0.3s ease-in-out;
}

.send:hover {
    background: #6cad56;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .window {
        width: 80vw;
    }
}

@media screen and (max-width: 768px) {
    .choices2 {
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;
    }
    .choices2 fieldset {
        margin: 0;
    }
}


/* ==== Launch Game ==== */

.launchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    min-width: 300px;
    margin: 0 auto;
}