@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat';
}

body{
    margin: 0;
}

#hostSection{
    height: 100vh;
    /*width: 100vw;*/
}

#waitingSection{
    height: 100%;
    /* width: 100%; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 12%;
}

#qrCodeContent{
    justify-content: space-evenly;
    /* margin-inline: 100px; */
    width: 100%;
    display: flex;
}

#waitingMessage {
    width: 60%;
    font-size: 2.5rem;
}

#qrCode{
    /* padding: 40px; */
    /* background-color: rgba(255,255,255,0.5); */
    /* border-radius: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#qrCode img {
  border: solid 40px rgba(255,255,255,0.5);
  border-radius: 16px;
  height: 212px;
  margin-left: 64px;
}

@media (max-width: 1200px) {
  #waitingSection{
    margin: 0 10%;
  }
  #waitingMessage {
      width: 80%;
      font-size: 2rem;
  }
  #qrCode img {
    height: 180px;
    margin-left: 56px;
  }
}
@media (max-width: 768px) {
  #qrCodeContent{
    flex-direction: column;
  }
  #waitingMessage {
    text-align: center;
    width: auto;
    margin-bottom: 48px;
    font-size: 1.75rem;
  }
  #qrCode img {
    height: 120px;
    margin-left: 0;
    border-width: 32px;
  }
}

img{
    height: 250px;
}

#logoLong{
     /* width: 300px; */
    /* height: 300px; */
    display: flex;
    justify-content: flex-end;
    position: absolute;
    align-items: center;
    bottom: 0;
    right: 0;   
}
#logoLong img{
    width: 190px;
    height: auto;
    margin-right: 30px;
}

#parent.displayed{
    display:flex;
    visibility:visible;
}
#parent{
  visibility:hidden;
    justify-content:center;
}

.questionSection, .questionSection > div, .questionSection > div > div {
  height: 100%;
}

.chatArea{
  /*height:100vh;
  width:50vw;*/
  width: 50%;
  overflow:hidden;
  transition: 1.5s ease-in-out;
  position: relative;
}
.images{
height:100%;
width: 100vw;
object-fit: cover;
margin-left: 50%;
transform: translateX(-50%);
}
.infoContainer{
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height:auto;
  width:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question{
  color: rgb(64, 70, 89);
  font-size: 1.75rem;
  font-weight: normal;
  padding: 48px;
  background-color: rgba(255,255,255,0.7);
  border-radius:32px;
  text-align: center;
  margin-bottom: 32px;
  max-width: 440px;
  line-height: 1.5;
}
.chatArea h1 {
  position: fixed;
  font-size: 1.25rem;
  padding: 12px 32px;
  margin: 32px;
  font-weight: bold;
  background-color: rgba(64, 70, 89,0.8);
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  z-index: 1;
  white-space: nowrap;
  overflow: visible;
}
.chatArea:nth-child(1) h1 {
  left:0; 
  bottom:0;
}
.chatArea:nth-child(2) h1 {
  right:0; 
  top:0;
}
.qrCodeQuestion {
  position: absolute;
  right: 0;
  bottom: 0;
  border: solid 16px rgba(255,255,255,0.5);
  border-radius: 16px;
  height: 96px;
  margin: 32px;
}
.nbTotalVotes {
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(64, 70, 89);
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 1.25rem;
  padding: 12px 32px;
  margin: 32px;
  font-weight: bold;
  border-radius: 8px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  #parent.displayed{
    flex-direction: column;
  }
  .chatArea{
    height: 50%;
    width: 100%;
  }
  .chatArea:nth-child(1) h1 {
    left:unset; 
    bottom:unset;
    right:0; 
    top:0;
  }
  .chatArea:nth-child(2) h1 {
    right:unset; 
    top:unset;
    left:0; 
    bottom:0;
  }
}

/* RESULTATS EN DIRECT */
.directResultMove {
  width: 100%;
  height: 0%;
  background-color: rgba(255,255,255,0.5);
  transition: 0.4s ease;
  bottom: 0;
  left: 0;
  position: absolute;
  border-top: 4px solid #0CB4CE;
  opacity: 1;
  /* transform: translateY(4px); */
  max-height: calc(100% - 4px);
}
/* ------------------- */

.timerWrapper{
  width: 100%;
  height: 16px;
  background-color: #d2d2d2;
  border-radius: 50px;
  position: relative;
  width: 80vw;
  max-width: 720px;
}
#timeProgress{
  width: 0;
  height: 100%;
  background-color: #0CB4CE;
  border-radius: 50px;
  /*transition: 0.2s ease;*/
}

.spinnerWrapper{
  width: 96px;
  height:96px;
}
.spinner,
.spinner:after {
  border-radius: 50%;
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}
.spinner {
  position: relative;
  border-top: 12px solid #d2d2d2;
  border-right: 12px solid #d2d2d2;
  border-bottom: 12px solid #d2d2d2;
  border-left: 12px solid #0CB4CE;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/*-------- RESULTAT --------*/
#result {
  height: 100%;
  overflow: hidden;
}
#result > div {
  height: 100%;
}
#result img {
  object-fit: cover;
}
#result .infosResult {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result h2 {
  color: rgb(64, 70, 89);
  font-size: 1.75rem;
  font-weight: normal;
  padding: 48px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 32px;
  text-align: center;
  margin: 0;
  max-width: 440px;
  line-height: 1.5;
}

#result h1 {
  font-size: 1.25rem;
  padding: 12px 32px;
  margin: 32px;
  font-weight: bold;
  background-color: rgba(64, 70, 89,0.8);
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
  z-index: 1;
}