*{
    font-family: 'Montserrat';
}

body{
    margin: 0!important;
    padding: 0!important;
}

h1{
    /*margin: 0;
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
    font-variant: small-caps;
    font-weight: 300;*/
    font-size: 1rem;
    padding: 12px 32px;
    margin: 24px;
    font-weight: bold;
    background-color: rgba(64, 70, 89,0.8);
    color: #fff;
    border-radius: 8px;
    text-transform: uppercase;
    z-index: 1;
}
#choicePageContent{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container{
    display: unset;
    height: 100%;
}

#orBlock{
    position: absolute;
    z-index: 10;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
p{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 20px;
}
#orBlock p{
    pointer-events: none;
}
#choicePageContent .btnSubmitChoice {
    border: none;
    padding: 16px 24px;
    border-radius: 8px;
    color: #fff;
    background-color: #37263E;
    transition: 0.2s ease;
    font-size: 1.25rem;
}

#choicePageContent .btnSubmitChoice:hover {
    cursor: pointer;
    background-color: #53455A;
}

#choicesDiv{
    position: relative;
    z-index: 9;
    height: 100%;
}
h1{
    position: absolute;
    z-index: 8;
}
img{
    height: 100%;
    z-index: 7;
    width: 100%;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    object-fit: cover;
}

.choice{
    height: 50%;
    display: flex;
    color: white;
    transition: 0.2s ease;
    position: relative;
}
.choice:nth-child(3) h1 {
    left:0;
    bottom:0;
}
.choice:nth-child(2) h1 {
  right: 0;
  top: 0;
}
.choice:hover{
    cursor: pointer;
}
.choice .discarded{
    filter: brightness(0.6);
}
.confirmationSubmit {
    background-color: #0CB4CE;
    padding: 12px 24px;
    border-radius: 16px;
    color: #fff;
    transition: 0.2s ease;
    font-size: 1rem;
}
#resultSection{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resultMessage{
    z-index: 20;
    position: absolute;
    width: 85%;
}
.resultMessage p {
    background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width : 768px) {
    #choicePageContent{
        flex-direction: row;
    }
    .choice{
        height: 100%;
        width: 50%;
    }
    h1{
        font-size: 1.25rem;
    }
    .container{
        display:flex;    
    }
    .homePageText{
        font-size: 25px;
        padding: 40px;
        border-radius: 30px;
        width: 60vh;
    }
    #homePageContent{
        height: 100vh;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #logoLong{
        width: 150px;
    }
    #resultSection{
        width: 100%;
    }
    p{
        font-size: 25px;
    }
    .resultMessage{
        width: 30%;
    }
    .choice:nth-child(3) h1 {
        left:unset;
        bottom:unset;
        right:0;
        top:0;
    }

    .choice:nth-child(2) h1 {
      right: unset;
      top: unset;
      left: 0;
      bottom: 0;
    }
}